@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root{
    --accent-color: #F26833;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Montserrat, "sans-serif";
}

/* navbar */

.navbar{
    position: fixed;
    top: 0;
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    padding: 0 5em;
}

.logo, .link-container{
    margin: 1em;
}

.logo{
    font-size: 2em;
}

.link-container{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-link:first-of-type{
    margin-right: 5em;
}

.nav-link, a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    cursor: pointer;
    color: inherit;
}

#login{
    border: 1px solid var(--accent-color);
    padding: 0.2em 1em;
    border-radius: 5px;
}

.signup-btn{
    width: 150px;
}

/* hide hamburger when full screen */
#menu-btn{
    display: none;
}

.overlay{
    background-color: black;
}

@media screen and (max-width: 850px) {
    .navbar{
        flex-direction: column;
        align-content: center;
        padding: unset;
    }
}

@media screen and (max-width: 420px) {
    .logo, .link-container{
        margin: 0.5em 0;
        align-items: center;
    }

    .nav-link:first-of-type{
        margin-right: 1em;
    }
    
    .nav-link, a{
        font-size: 1em;
    }
    
    .signup-btn{
        width: 100px;
    }
    
}




/* hero */
#hero{
    background: url("images/backgound.jpg")rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    min-height: 700px;
    min-width: 100dvw;
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.content-container h1{
    font-size: 3em;
    margin-bottom: 0.4em;
}

.btn{
    display: block;
    background-color: #F26833;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 7px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 7px -7px rgba(0,0,0,0.75);
    transition: 300ms ease-in-out;
}

.btn:hover{
    transform: translateY(2px);
}

.trial-btn{
    margin-top: 0.9em;
    width: 300px;
}

@media screen and (max-width: 850px) {
    .content-container h1{
        font-size: 1.8em;

    }
}

@media screen and (max-width: 420px) {
    .content-container h1{
        font-size: 1.3em;

    }
    .trial-btn{
        margin-top: 0.9em;
        width: 200px;
    }
 
    
}


